.hover-node {
  position: fixed;
  display: none;
  border: 2px dashed aqua;
  background-color: rgb(245, 250, 254, 0.2);
  cursor: pointer;
}
.select-node {
  position: fixed;
  display: none;
  border: 1px solid aqua;
  cursor: pointer;
  :global {
    .node-path {
      background-color: aqua;
      position: absolute;
      top: -20px;
    }
  }
}
.dragover-prompt {
  position: fixed;
  display: none;
  cursor: pointer;
  background-color: aqua;
}
