.hover-node {
  position: absolute;
  display: none;
  left: 0px;
  top: 0px;
  border: 2px dashed aqua;
  background-color: rgb(245, 250, 254, 0.2);
  cursor: pointer;
  z-index: 2;
}
.select-node {
  position: absolute;
  display: none;
  left: 0px;
  top: 0px;
  border: 1px solid aqua;
  z-index: 1;
  cursor: pointer;
  :global {
    .node-path {
      background-color: aqua;
      position: absolute;
      top: -17px;
      z-index: 3;
      font-size: 12px;
    }
  }
}
.dragover-prompt {
  position: absolute;
  z-index: 2;
  display: none;
  cursor: pointer;
  background-color: aqua;
}
