.material {
  height: 100%;
  overflow-y: auto;
  width: 190px;
  margin: 10px 0;
  :global {
    .ant-list-item {
      font-size: 12px;
      padding: 0 8px;
      text-align: center;
      .ant-card-body {
        padding: 15px;
      }
    }
  }
}
