.layout {
  height: 100%;
  :global {
    .ant-layout {
      height: 100%;
    }
    .ant-layout-content {
      border-left: 1px solid #001529;
      border-right: 1px solid #001529;
      border-top: 1px solid #001529;
    }
  }
}
