.layout {
  height: 100%;
  :global {
    .ant-layout {
      height: 100%;
    }
    .ant-layout-content {
      padding: 0px 5px;
      background-color: white;
    }

    .emptynode {
      width: 100%;
      min-height: 20px;
      height: 100%;
      background-color: gainsboro;
    }
  }
}
