.layout {
  height: 100%;
  :global {
    .ant-layout {
      height: 100%;
      .ant-layout-header {
        height: 48px;
        line-height: 48px;
        background: inherit;
        border-bottom: 1px solid #001529;
      }
    }
  }
}
